node_modules
package-lock.json
*~
*.swp
*.swo
npm-debug.log
deploy.sh
test/logs/
test/reports/
test/*.png
test/screenshots/
pure_style.css

test_reports
test_screenshots
selenium-debug.log
browserstack.err
local.log
test/phantomjsdriver.log
