
.hidden {
  display: none;
}
.highlighted {
  color: white;
}
#editor {
  height: 100%;
  border: 1px solid #0A0A0A;
  background: #111;
  color: #888;
  opacity: 0.9;
  z-index: 69;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
#editor a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
#editor a:hover {
  color: #888;
}
#editor>table {
  font-family: monospace;
  table-layout: fixed;
}
.editor-col1 {
  width: 8px;
  text-align: center;
}
.editor-col2 {
  min-width: 160px;
  text-align: left;
}
.editor-col1,
.editor-col3,
.editor-col4 {
  width: 8px;
  text-align: center;
}

#editor input {
  color: #fff !important;
  background-color: #111;
  text-align: center;
  text-decoration: none;
  border: 1px #333 solid;
  border-radius: 1em;
  padding: .25em 0 !important;
  outline: 0;
}
#editor input::selection {
  background-color: #888;
}
#editor input::-moz-selection {
  background-color: #888;
}
#editor input::-o-selection {
  background-color: #888;
}
#editor input::-ms-selection {
  background-color: #888;
}
#editor input::-webkit-selection {
  background-color: #888;
}


body {
  display: table;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  background: url(zwartevilt.png) #333;
  /* zwartevilt.png from http://subtlepatterns.com/black-felt/ (CC BY-SA) */
}
body>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


#box {
  display: inline-block;
  text-align: left;
  color: #EEE;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
  border: 1px solid #111;
  max-height: 360px;
  max-width: 640px;
  background-color: #1B1B1B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#help {
  display: none;
  color: #ccc;
  text-align: left;
  max-width: 640px;
  border: 1px solid #0A0A0A;
  background: #111;
  opacity: 0.9;
  z-index: 69;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
  padding:1em;
}
#help h1, #help h2 {
  border-bottom: 1px solid #0A0A0A;
  font-weight: normal;
  padding-bottom: 0.25em;
}
#help h1 {
  font-size: 1.75em;
  line-height: 1.2;
  margin: 0 0 1em 0;
  text-align: right;
}
#help h2 {
  font-size: 1.25em;
  line-height: 1.225;
}
#help a {
  color: #999;
  text-decoration: none;
}
#help tt {
  border-radius: 1em;
  text-decoration: none;
  border: 1px #333 solid;
  padding: .25em .5em!important;
  background: #111;
  color: #888;
}
#help p, ul {
  font-size: 0.9em;
  padding:0;
  list-style-type: none;
}
#help p {
  line-height:1.5em;
}
#help p.example {
  font-size:small;
  color: #888;
}
#help ul>li {
  padding:0.5em 0;
}
#help kbd {
  display:inline-block;
  padding: 3px 5px;
  font-weight: bold;
  font-size:11px;
  line-height:10px;
  color:#111;
  vertical-align:middle;
  background-color:#aaa;
  border:solid 1px #888;
  border-bottom-color:#bbb;
  border-radius:3px;
  box-shadow:inset 0 -1px 0 #bbb
}


#menu {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #333;
  text-align: right;
  width: 100%;
  text-shadow: 0 0 6px #000;
  font-size: .8em;
  padding: 1em;
}
#menu a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
#menu a:hover {
  color: #888;
}


#shortened>input {
  color: #fff !important;
  background-color: #111;
  text-align: center;
  text-decoration: none;
  border: 1px #333 solid;
  border-radius: 1em;
  padding: .25em 0 !important;
}
#shortened>input::selection {
  background-color: #111;
}
#shortened>input::-moz-selection {
  background-color: #111;
}
#shortened>input::-o-selection {
  background-color: #111;
}
#shortened>input::-ms-selection {
  background-color: #111;
}
#shortened>input::-webkit-selection {
  background-color: #111;
}
#shortened>a,
#shortened>a:link,
#shortened>a:visited {
  font-size:1.5em;
  color: #555;
}
#shortened>a:hover {
  color: #888;
}

#shuffle-ui {
    display: none;
}

.ticker:before {
    content: '\2714';
}

.spinner { /* credit: https://github.com/tobiasahlin/SpinKit */
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: #fff;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

// vim:ts=2:sw=2:et:
